.contacts-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 10px;
}

.contacts-form label {
  font-size: 15px;
  font-weight: 500;

  margin-bottom: 10px;
}

.contacts-form input, .contacts-form textarea {
  font-family: inherit;
  font-size: 15px;
  font-weight: 400;
  border: none;
  background-color: #f7f7f7;

  padding: 15px 20px;
  margin-bottom: 10px;
}

.contacts-form textarea {
  height: 100px;
  margin-bottom: 20px;
}

.contacts-form button {
  font-weight: bold;
  background-color: transparent;
  width: 150px;
  padding: 10px 15px;
  border: 1px solid rgb(83, 83, 83);
  color: rgb(83, 83, 83);;
  border-radius: 20px;

  cursor: pointer;
}

.contacts-form button:hover {
  background-color: rgb(83, 83, 83);;
  color: white;
}