.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin: 20px 0;
}

.home-header-links-container {
  display: flex;
  
  gap: 50px;
}

.home-header-links-container .header-link {
  border: none;
  color: black;
  font-size: 18px;
  font-weight:  300;
  background-color: transparent;
  font-family: inherit;
}

.header-link:first-child {
  transform: translateY(-3px);
  text-decoration: underline;
}

.home-header-links-container .header-link:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 430.5px) {
  .home-header {
    padding: 5px 0 0 0;
    justify-content: end;
  }

  .desktop-nav {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .mobile-nav {
    position: absolute;
    top: 75px;
    right: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 24px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);

    z-index: 1000;
  }

  .mobile-nav button {
    background: none;
    border: none;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
  }
}