.home-icons {
  display: flex;
  gap: 15px;

  margin: 20px 0;
}

.home-icons .link-button i {
  font-size: 24px !important;
  color: rgb(83, 83, 83);
  cursor: pointer;
}

.home-icons .link-button {
  color: inherit;
}

.desktop-icons {
  display: flex;
  flex-direction: column;
  
  position: absolute;
  top: 20px;
  right: 10px;
}

.mobile-icons {
  display: none;
}

@media (max-width: 900px) {
  .desktop-icons {
    display: none !important;
  }
  
  .mobile-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 25px;
  }
  
  .mobile-icons .link-button i {
    font-size: 28px !important;
  }
}