.scroll-to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;

  border: none;
  border-radius: 50%;
  background-color: black;
  color: white;

  padding: 15px 18px;
  cursor: pointer;

  opacity: 0;

  animation-name: appear;
  animation-timeline: scroll(y);
}

.scroll-to-top i {
  font-size: 16px !important;
}

@keyframes appear {
  0% {
    opacity: 0;
    display: none;
    position: fixed;
  }
  3% {
    opacity: 0;
    display: none;
  }
  3.5% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
    position: fixed;
  }
}
