.project-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  gap: 30px;
}

.project-body .project-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.project-body .project-card .project-image-container {
  position: relative;

  background-color: #ECF1F6;
  border-radius: 8px;

  width: 300px;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.project-body .project-card .project-image-container img {
  position: static;

  width: 250px;
  height: 150px;
  object-fit: cover;

  border-radius: 8px;
}

.project-body .project-card .project-info-container {
  background-color: inherit;
  border: 1px solid rgb(216, 216, 216);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  margin-top: -2px;
  width: 300px;
  height: 120px;

  cursor: pointer;
}

.project-body .project-card:hover {
  transform: translateY(-6px);
}

.project-info-container p {
  margin-left: 15px;
}

.project-info-container .project-title {
  font-size: 18px;
  font-weight: 500;
}

.project-info-container .project-details {
  font-size: 14px;
}
/* 
@media (max-width: 985px) {
  .project-body .project-card .project-image-container {
    height: 200px;
  }
}

@media (max-width: 953px) {
  .project-body .project-card .project-info-container {
    height: 90px;
  }

  .project-info-container .project-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .project-info-container p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
} */