section {
  min-height: 100vh;
  position: relative;

  padding: 0 250px;

  margin-left: auto;
  margin-right: auto;
}

.home, .projects {
  background-color: #f7f7f7;
}

.home, .tools, .projects, .contacts {
  display: flex;
  flex-direction: column;
}