section {
  min-height: 100vh;
  max-height: auto;
  position: relative;

  padding: 0 250px;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  align-items: stretch; /* Makes children fill width */
}

.home, .projects {
  background-color: #f7f7f7;
}

.home, .tools, .projects, .contacts {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1400px) {
  section {
    padding: 0 100px;
  }
}

@media (max-width: 1100px) {
  section {
    padding: 0 10px;
  }
}